.signs{
    height: 80px;
    width: 80px;
    margin: 30px;
}
button{
    border-radius: 50%;
    background-color: black;
    border-color: white;
    border-style: solid;
}
body{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.signs2{ height: 40px;
         width: 40px;
}
.reset{
    border-radius: 0;
    background-color: rgb(0, 0, 0);
    padding: 5px; font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-style: solid;
    border-color: white;
}
.score{
    margin-top: 40px;
    margin-bottom: 30px;
}